<div>
  <h2>
    Celebrities
  </h2>
</div>
<a href="celebrities/new">Add Celebrity</a>
<div>
  {{#each celebrities}}
  <a href="celebrity/{{this._id}}">
    <h1>{{this.name}}</h1>
  </a>
  {{/each}}
</div>